# : Write a python program to scrape data for “Data Analyst” Job position in
“Bangalore” location. You have to scrape the job-title, job-location, company_name,
experience_required. You have to scrape first 10 jobs data.

In [1]:
#installing selenium library
! pip install selenium

Requirement already satisfied: selenium in c:\programdata\anaconda3\lib\site-packages (3.141.0)
Requirement already satisfied: urllib3 in c:\programdata\anaconda3\lib\site-packages (from selenium) (1.25.9)

In [14]:
#now lets import all the required libraries
import selenium
import pandas as pd
from selenium import webdriver

In [24]:
#lets first connect to the web driver
driver = webdriver.Chrome(r"D://Chromedriver.exe")

In [26]:
#Opeaning the web page through our web driver:
driver.get('https://www.naukri.com')

In [27]:
#Imputing the details such as Skill,Designation and Location:
field_designation = driver.find_element_by_id("qsb-keyword-sugg")
field_location = driver.find_element_by_id('qsb-location-sugg')
field_designation.send_keys("Data Analyst")
field_location.send_keys("Bangalore")

In [28]:
#clicking the search button:
search_button = driver.find_element_by_xpath("//div[@class='search-btn']/button")
search_button.click()

In [29]:
# creating empty lists 
job_title = []
job_location = []
company_name = []
experience_needed = []

In [30]:
#scraping the tags for job-titles:
titles = driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")

#Using for loop for iterations
#Handling Null Values.
for i in titles:
    if i.text is None:
        job_title.append(" ") 
    else:
        job_title.append(i.text.replace('\n','').strip())
print(job_title[0:5])

['Data Engineer/Data Analyst- Chennai', 'Azure Data Analyst', 'Data Analyst', 'Executive - Data Analyst', 'Data Analyst']

In [31]:
#scraping the tags for job-location:
locations = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")

#Using for loop for iterations:
#Handling Null Values.
for i in locations:
    if i.text is None:
        job_location.append(" ") 
    else:
        job_location.append(i.text.replace('\n','').strip())
print(job_location[0:5])

['Hyderabad/Secunderabad, Pune, Chennai, Bangalore/Bengaluru', 'Bangalore/Bengaluru', 'Bangalore/Bengaluru(Devalapur)', 'Bangalore/Bengaluru', 'Bangalore/Bengaluru']

In [32]:
#scraping the tags company_name:
companies=driver.find_elements_by_xpath("//div[@class='mt-7 companyInfo subheading lh16']/a")

#Using for loop for iterations:
#Handling Null Values.
for i in companies:
    if i.text is None :
        company_name.append(" ") 
    else:
        company_name.append(i.text.replace('\n','').strip())
print(company_name[0:5])

['Inflexion Analytix Private Limited', 'Capgemini Technology Services India Limited', '(11120 Reviews)', 'Super India Tech Mark', 'Flipkart Internet Private Limited']

In [33]:
#scraping the tags for experience_required:
experience = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span[1]")

#Using for loop for iterations:
#Handling Null Values.
for i in experience:
    if i.text is None :
            experience_required.append(" ") 
    else:
        experience_needed.append(i.text.replace('\n','').strip())
print(experience_needed[0:5])

['0-2 Yrs', '6-8 Yrs', '0-2 Yrs', '1-3 Yrs', '1-2 Yrs']

In [34]:
import pandas as pd
df = pd.DataFrame({})
df['company names'] = company_name[0:10]
df['job locations'] = job_location[0:10]
df['experience required'] = experience_needed[0:10]
df['job titles'] = job_title[0:10]

In [35]:
#Checking head and Shape:
df.head()

,company names,job locations,experience required,job titles
0,Inflexion Analytix Private Limited,"Hyderabad/Secunderabad, Pune, Chennai, Bangalo...",0-2 Yrs,Data Engineer/Data Analyst- Chennai
1,Capgemini Technology Services India Limited,Bangalore/Bengaluru,6-8 Yrs,Azure Data Analyst
2,(11120 Reviews),Bangalore/Bengaluru(Devalapur),0-2 Yrs,Data Analyst
3,Super India Tech Mark,Bangalore/Bengaluru,1-3 Yrs,Executive - Data Analyst
4,Flipkart Internet Private Limited,Bangalore/Bengaluru,1-2 Yrs,Data Analyst

# : Write a python program to scrape data for “Data Scientist” Job position in
“Bangalore” location. You have to scrape the job-title, job-location,
company_name, full job-description. You have to scrape first 10 jobs data.

In [36]:
#lets first connect to the web driver
driver = webdriver.Chrome(r"D://Chromedriver.exe")

In [37]:
#Opeaning the web page through our web driver:
driver.get('https://www.naukri.com')

In [38]:
#Imputing the details such as Skill,Designation and Location:
field_designation = driver.find_element_by_id("qsb-keyword-sugg")
field_location = driver.find_element_by_id('qsb-location-sugg')
field_designation.send_keys("Data Scientist")
field_location.send_keys("Bangalore")

In [39]:
#clicking the search button for obtaining result:
search_button = driver.find_element_by_xpath("//div[@class='search-btn']/button")
search_button.click()

In [40]:
# creating empty lists 
job_title = []
job_location = []
company_name = []
job_description = []

In [41]:
#scraping the tags for job-titles:
titles = driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")

#Using for loop for iterations.
#Handling Null Values.
for i in titles:
    if i.text is None:
        job_title.append(" ") 
    else:
        job_title.append(i.text.replace('\n','').strip())
print(job_title[0:5])

['Data Scientist', 'Data Scientist - Machine Learning', 'Data Scientist - IBM Garage', 'GAMMA Lead Data Scientist', 'DBCG IND - GAMMA Senior Data Scientist']

In [42]:
#scraping the tags for job-location:
locations = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")

#Using for loop for iterations:
#Handling Null Values.
for i in locations:
    if i.text is None:
        job_location.append(" ") 
    else:
        job_location.append(i.text.replace('\n','').strip())
print(job_location[0:5])

['Bangalore/Bengaluru', 'Bangalore/Bengaluru', 'Noida, Hyderabad/Secunderabad, Bangalore/Bengaluru', 'Mumbai, New Delhi, Chennai, Bangalore/Bengaluru', 'Mumbai, New Delhi, Chennai, Bangalore/Bengaluru']

In [43]:
#scraping the tags company_name:
companies=driver.find_elements_by_xpath("//div[@class='mt-7 companyInfo subheading lh16']/a")

#Using for loop for iterations:
#Handling Null Values.
for i in companies:
    if i.text is None :
        company_name.append(" ") 
    else:
        company_name.append(i.text.replace('\n','').strip())
print(company_name[0:5])

['CronJ IT Technologies Private Limited', '(23 Reviews)', 'AugmatrixGo', 'IBM India Pvt. Limited', '(9158 Reviews)']

In [60]:
# scraping the full job-description,for scraping full job description we have to go in each of the jobs separately
urls=[i.get_attribute("href")for i in driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")]
for url in urls[0:10]:
    try:
        driver.get(url)
        description = driver.find_element_by_xpath("//section[@class='job-desc']/div[1]").text
        for i in description:
            job_description.append(i.text.replace('\n1','\n','\n\n',' ').strip('\n'))   
    except NoSuchElementException:
        job_description.append(" ")
print(job_description[0:1])

[]

In [62]:
import pandas as pd
df = pd.DataFrame({})
df['company names'] = company_name[0:10]
df['job locations'] = job_location[0:10]
df['job titles'] = job_title[0:10]
df['job_description'] = job_description[0:10]

ValueError: Length of values does not match length of index

In [63]:
df.head(10)

,company names,job locations,job titles
0,CronJ IT Technologies Private Limited,Bangalore/Bengaluru,Data Scientist
1,(23 Reviews),Bangalore/Bengaluru,Data Scientist - Machine Learning
2,AugmatrixGo,"Noida, Hyderabad/Secunderabad, Bangalore/Benga...",Data Scientist - IBM Garage
3,IBM India Pvt. Limited,"Mumbai, New Delhi, Chennai, Bangalore/Bengaluru",GAMMA Lead Data Scientist
4,(9158 Reviews),"Mumbai, New Delhi, Chennai, Bangalore/Bengaluru",DBCG IND - GAMMA Senior Data Scientist
5,Boston Consulting Group,"Hyderabad/Secunderabad, Pune, Chennai, Bangalo...",Data Scientist/Senior Data Scientist
6,(38 Reviews),"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,...",Senior Data Scientist | CES IT LTD | CMMI Level 5
7,Boston Consulting Group,Bangalore/Bengaluru,Data Scientist
8,(38 Reviews),Bangalore/Bengaluru,Associate Data Scientist - CRM & Loyalty
9,GANIT BUSINESS SOLUTIONS PRIVATE LIMITED,Bangalore/Bengaluru,Data Scientist - Business Analytics

# In this question you have to scrape data using the filters available on the webpage as shown below:
You have to use the location and salary filter. You have to scrape data for “Data Scientist” designation for first 10 job results. You have to scrape the job-title, job-location, company_name, experience_required. The location filter to be used is “Delhi/NCR” The salary filter to be used is “3-6” lakhs The task will be done as shown in the below steps:

In [64]:
#lets first connect to the web driver
driver = webdriver.Chrome(r"D://Chromedriver.exe")

In [65]:
#Opeaning the web page through our web driver:
driver.get('https://www.naukri.com')

In [66]:
#Imputing the details such as Skill,Designation and Location:
field_designation = driver.find_element_by_id("qsb-keyword-sugg")
field_location = driver.find_element_by_id('qsb-location-sugg')
field_designation.send_keys("Data Scientist")
field_location.send_keys("Delhi")

In [67]:
#clicking the search button for obtaining result:
search_button = driver.find_element_by_xpath("//div[@class='search-btn']/button")
search_button.click()

In [68]:
#creating empty lists 
job_title = []
job_location = []
company_name = []
experience_needed = []

In [70]:
#fetching the tags for location textbox:
location = driver.find_element_by_xpath("//span[@title='Delhi / NCR']") #We are taking title name.
#clicking the check box
location.click()

In [71]:
#fetching the tags for Salary textbox:
Salary = driver.find_element_by_xpath("//span[@title='3-6 Lakhs']") #We are taking title name.
#clicking the check box
Salary.click()

In [72]:
#scraping the tags for job-titles:
titles = driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")

#Using for loop for iterations
#Handling Null Values.
for i in titles:
    if i.text is None:
        job_title.append(" ") 
    else:
        job_title.append(i.text.replace('||',' ').strip('\n'))
print(job_title[0:5])

['Data Scientist - IBM Garage', 'Females Required- Data Scientist- Noida', 'Data Scientist - Python & Machine Learning', 'Data Scientist - Python & Machine Learning', 'Only Fresher / Data Scientist / Data Analyst / Analytics - MNC']

In [73]:
#scraping the tags for experience_required:
experience = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span[1]")

#Using for loop for iterations:
#Handling Null Values.
for i in experience:
    if i.text is None :
            experience_required.append(" ") 
    else:
        experience_needed.append(i.text.replace('\n','').strip('\n'))
print(experience_needed[0:5])

['5-8 Yrs', '3-7 Yrs', '2-7 Yrs', '2-7 Yrs', '0-5 Yrs']

In [74]:
#scraping the tags company_name:
companies = driver.find_elements_by_xpath("//div[@class='mt-7 companyInfo subheading lh16']/a")

#Using for loop for iterations:
#Handling Null Values.
for i in companies:
    if i.text is None :
        company_name.append(" ") 
    else:
        company_name.append(i.text.replace('\n','').strip())
print(company_name[0:5])

['IBM India Pvt. Limited', '(9158 Reviews)', 'Randstad', '(1022 Reviews)', 'FUTURES AND CAREERS']

In [75]:
#scraping the tags for job-location:
locations = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")

#Using for loop for iterations:
#Handling Null Values.
for i in locations:
    if i.text is None:
        job_location.append(" ") 
    else:
        job_location.append(i.text.replace('\n','').strip())
print(job_location[0:5])

['Noida, Hyderabad/Secunderabad, Bangalore/Bengaluru', 'Noida, Gurgaon/Gurugram, Delhi / NCR', 'Hyderabad/Secunderabad, Pune, Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)', 'Hyderabad/Secunderabad, Pune, Chennai, Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)', 'Noida, Gurgaon/Gurugram, Delhi / NCR']

In [76]:
import pandas as pd
df = pd.DataFrame({})
df['company names'] = company_name[0:10]
df['job locations'] = job_location[0:10]
df['experience required'] = experience_needed[0:10]
df['job titles'] = job_title[0:10]

In [77]:
#Checking head and Shape:
df.head()

,company names,job locations,experience required,job titles
0,IBM India Pvt. Limited,"Noida, Hyderabad/Secunderabad, Bangalore/Benga...",5-8 Yrs,Data Scientist - IBM Garage
1,(9158 Reviews),"Noida, Gurgaon/Gurugram, Delhi / NCR",3-7 Yrs,Females Required- Data Scientist- Noida
2,Randstad,"Hyderabad/Secunderabad, Pune, Bangalore/Bengal...",2-7 Yrs,Data Scientist - Python & Machine Learning
3,(1022 Reviews),"Hyderabad/Secunderabad, Pune, Chennai, Bangalo...",2-7 Yrs,Data Scientist - Python & Machine Learning
4,FUTURES AND CAREERS,"Noida, Gurgaon/Gurugram, Delhi / NCR",0-5 Yrs,Only Fresher / Data Scientist / Data Analyst /...

# Write a python program to scrape data for first 10 job results for Data scientist
Designation in Noida location. You have to scrape company_name, No. of days
ago when job was posted, Rating of the company.

In [90]:
#lets first connect to the web driver
driver = webdriver.Chrome(r"D://Chromedriver.exe")

In [91]:
#Opeaning the web page through our web driver:
driver.get('https://www.glassdoor.co.in/index.htm')

In [92]:
#Importing Required Libraries.
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC

In [93]:
#Imputing the details in Blank boxes by using WebDriverWait:
WebDriverWait(driver, 20).until(EC.element_to_be_clickable((By.XPATH, "//input[@id='sc.keyword']"))).send_keys("Data Scientist")
WebDriverWait(driver, 20).until(EC.element_to_be_clickable((By.XPATH, "//input[@id='sc.location']"))).send_keys("Noida India")

In [94]:
#Cliking on search button.
WebDriverWait(driver, 20).until(EC.element_to_be_clickable((By.XPATH,"//button[@data-test='search-bar-submit']"))).click()

In [95]:
#creating empty list:
company_name = []
company_rating = []
No_of_days_ago = []

In [96]:
#scraping the tags company_name:
companies = driver.find_elements_by_xpath("//a[@class=' css-10l5u4p e1n63ojh0 jobLink']/span")

#Using for loop for iterations:
#Handling Null Values.
for i in companies:
    if i.text is None :
        company_name.append(" ") 
    else:
        company_name.append(i.text.replace('\n','').strip())
print(company_name[0:5])

[]

In [97]:
#scraping the tags company_ratings:
rating = driver.find_elements_by_xpath("//span[@class='compactStars ']")

#Using for loop for iterations:
#Handling Null Values.
for i in rating:
    if i.text is None :
        company_rating.append(" ") 
    else:
        company_rating.append(i.text.replace('\n','').strip())
print(company_rating[0:5])

[]

In [98]:
#scraping the tags where no of days ago job was posted:
job_posted = driver.find_elements_by_xpath("//div[@data-test='job-age']")

#Using for loop for iterations:
#Handling Null Values.
for i in job_posted:
    if i.text is None :
        No_of_days_ago.append(" ") 
    else:
        No_of_days_ago.append(i.text[0])
print(No_of_days_ago[0:5])

['1', '3', '9', '2', '3']

In [99]:
import pandas as pd
df = pd.DataFrame({})
df['company names'] = company_name[0:10]
df['company_rating'] = company_rating[0:10]
df['No_of_days_ago'] = No_of_days_ago[0:10]

In [100]:
#Checking head and Shape:
df.head()

   company names  company_rating No_of_days_ago
0            NaN             NaN              1
1            NaN             NaN              3
2            NaN             NaN              9
3            NaN             NaN              2
4            NaN             NaN              3

# Write a python program to scrape the salary data for Data Scientist designation in Noida location.
You have to scrape Company name, Number of salaries, Average salary, Min salary, Max Salary. The above task will be, done as shown in the below steps:

In [101]:
#importing all the required libraries
import pandas as pd
import selenium
from selenium import webdriver
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException

In [102]:
#lets first connect to the web driver
driver = webdriver.Chrome(r"D://Chromedriver.exe")

In [103]:
#Opeaning the web page through our web driver:
driver.get('https://www.glassdoor.co.in/index.htm')

In [104]:
#Importing Required Libraries.
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC

In [107]:
#Imputing the details in Blank boxes by using WebDriverWait:
WebDriverWait(driver, 20).until(EC.element_to_be_clickable((By.XPATH, "//input[@id='KeywordSearch']"))).send_keys("Data Scientist")
WebDriverWait(driver, 20).until(EC.element_to_be_clickable((By.XPATH, "//input[@id='LocationSearch']"))).send_keys("Noida")

TimeoutException: Message:

In [108]:
#Cliking on search button.
WebDriverWait(driver, 20).until(EC.element_to_be_clickable((By.XPATH,"//button[@data-test='search-bar-submit']"))).click()

In [109]:
#creating empty list:
company_Name = []
minimum_salaries = []
average_salaries = []

In [110]:
#scraping the tags company_name:
companies = driver.find_elements_by_xpath("//div[@data-test='job-info']/p[2]")

#Using for loop for iterations:
#Handling Null Values.
for i in companies:
    if i.text is None :
        company_Name.append(" ") 
    else:
        company_Name.append(i.text.replace('\n','').strip())
print(company_Name[0:5])

[]

In [111]:
#scraping the tags of average Salary:
avg_salary = driver.find_elements_by_xpath("//div[@class='common__RangeBarStyle__values common__flex__justifySpaceBetween common__flex__container ']/span[2]")

#Using for loop for iterations:
#Handling Null Values.
for i in avg_salary:
    if i.text is None :
        average_salaries.append(" ") 
    else:
        average_salaries.append(i.text.replace('\n','').strip())
print(average_salaries[0:5])

[]

In [112]:
#scraping the tags of minimum Salary:
minimum_salary = driver.find_elements_by_xpath("//div[@class='common__RangeBarStyle__values common__flex__justifySpaceBetween common__flex__container ']/span[1]")

#Using for loop for iterations:
#Handling Null Values.
for i in minimum_salary:
    if i.text is None :
        minimum_salaries.append(" ") 
    else:
        minimum_salaries.append(i.text.replace('\n','').strip())
print(minimum_salaries[0:5])

[]

In [113]:
import pandas as pd
df = pd.DataFrame({})
df['company names'] = company_Name[0:10]
df['minimum_salaries'] = minimum_salaries[0:10]
df['average_salaries'] = average_salaries[0:10]

In [114]:
#Checking head and Shape:
df.head(10)

Empty DataFrame
Columns: [company names, minimum_salaries, average_salaries]
Index: []

# Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:¶

In [115]:
#Importing the required Libraries:
from bs4 import BeautifulSoup
import requests
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.firefox.options import Options

In [116]:
#lets first connect to the web driver
driver = webdriver.Chrome(r"D://Chromedriver.exe")

In [117]:
#Opeaning the web page through our web driver:
driver.get('https://www.flipkart.com/')

In [118]:
#locating the search bar
search_bar=driver.find_element_by_class_name('_3704LK')
search_bar.clear()
search_bar.send_keys('sunglasses')

In [119]:
#locating the button and clicking it toh search for sunglasses
button=driver.find_element_by_class_name('L0Z3Pu')
button.click()

In [120]:
#creating the empty list
brand_names = []
price = []
description = []
discount = []

In [121]:
soup = BeautifulSoup(driver.page_source, 'html.parser')

In [122]:
#Using for loop and fetching tags for names.
for i in soup.find_all('div', attrs ={'class':'_2WkVRV'}):
    string = i.text
    brand_names.append(string.strip())
print(brand_names[0:5])

['PIRASO', 'ADRENEX', 'Fastrack', 'PIRASO', 'Silver Kartz']

In [123]:
#Using for loop and fetching tags for Prices.
for i in soup.find_all('div', attrs ={'class':'_30jeq3'}):
    string = i.text
    price.append(string.strip())
print(price[0:5])

['₹299', '₹607', '₹683', '₹187', '₹233']

In [124]:
#Using for loop and fetching tags discounts.
for i in soup.find_all('div', attrs ={'class':'_3Ay6Sb'}):
    string = i.text
    discount.append(string.strip())
print(discount[0:5])

['81% off', '83% off', '24% off', '88% off', '84% off']

In [125]:
#Using for loop and fetching tags discounts.
for i in soup.find_all('div', attrs ={'class':'_1xHGtK _373qXS'}):
    string = i.text
    description.append(string.replace('\n','').strip())
list(description[0:10])

['AdPIRASOUV Protection Rectangular Sunglasses (Free Size)₹299₹1,59981% offBuy 2 items, save extra 5%',
 'AdADRENEXPolarized, UV Protection Sports Sunglasses (60)₹607₹3,69983% offBuy 2 items, save extra 5%',
 'FastrackUV Protection Wayfarer Sunglasses (Free Size)₹683₹89924% offBuy 2 items, save extra 5%',
 'PIRASOUV Protection Aviator Sunglasses (54)₹187₹1,59988% off',
 'Silver KartzUV Protection Wayfarer Sunglasses (Free Size)₹233₹1,49984% off',
 'ROZZETTA CRAFTUV Protection, Gradient Rectangular Sunglasses (Free Si...₹404₹1,99979% offBuy 2 items, save extra 5%',
 'phenomenalUV Protection, Mirrored Retro Square Sunglasses (53)₹399₹1,99980% off',
 'Singco IndiaUV Protection, Polarized Aviator Sunglasses (Free Size)₹202₹69971% off',
 'NuVewUV Protection Aviator Sunglasses (57)₹183₹78576% off',
 'DEIXELSUV Protection Round Sunglasses (Free Size)₹189₹79976% off']

In [126]:
import pandas as pd
df = pd.DataFrame({})
df['brand_names'] = brand_names[0:10]
df['price'] = price[0:10]
df['discount'] = discount[0:10]
df['description'] = description[0:10]

In [127]:
#Checking head and Shape:
df.head(10)

,brand_names,price,discount,description
0,PIRASO,₹299,81% off,AdPIRASOUV Protection Rectangular Sunglasses (...
1,ADRENEX,₹607,83% off,"AdADRENEXPolarized, UV Protection Sports Sungl..."
2,Fastrack,₹683,24% off,FastrackUV Protection Wayfarer Sunglasses (Fre...
3,PIRASO,₹187,88% off,PIRASOUV Protection Aviator Sunglasses (54)₹18...
4,Silver Kartz,₹233,84% off,Silver KartzUV Protection Wayfarer Sunglasses ...
5,ROZZETTA CRAFT,₹404,79% off,"ROZZETTA CRAFTUV Protection, Gradient Rectangu..."
6,phenomenal,₹399,80% off,"phenomenalUV Protection, Mirrored Retro Square..."
7,Singco India,₹202,71% off,"Singco IndiaUV Protection, Polarized Aviator S..."
8,NuVew,₹183,76% off,NuVewUV Protection Aviator Sunglasses (57)₹183...
9,DEIXELS,₹189,76% off,DEIXELSUV Protection Round Sunglasses (Free Si...

# : Scrape 100 reviews data from flipkart.com for iphone11 phone.

In [128]:
#Importing the required Libraries:
from bs4 import BeautifulSoup
import requests
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.firefox.options import Options

In [129]:
#lets first connect to the web driver
driver = webdriver.Chrome(r"D://Chromedriver.exe")

In [132]:
#Opeaning the web page through our web driver:
driver.get('https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace')

In [135]:
#creating empty list:
Rating = []
Review_summary = []
Full_review = []

In [136]:
soup = BeautifulSoup(driver.page_source, 'html.parser')

In [137]:
#Using for loop and fetching ratings.
for i in soup.find_all('div', attrs ={'class':'_3LWZlK _1BLPMq'}):
    string = i.text
    Rating.append(string.strip())
print(Rating[0:5])

['5', '5', '5', '5', '5']

In [139]:
#Using for loop and fetching review summary.
for i in soup.find_all('p', attrs ={'class':'_2-N8zT'}):
    string = i.text
    Review_summary.append(string.strip())
print(Review_summary[0:5])

['Brilliant', 'Perfect product!', 'Worth every penny', 'Great product', 'Highly recommended']

In [143]:
#Using for loop and fetching review summary.
for i in soup.find_all('div', attrs ={'class':'t-ZTKy'}):
    string = i.text
    Full_review.append(string.strip())
print(Full_review[0:5])

['The Best Phone for the MoneyThe iPhone 11 offers superb cameras, a more durable design and excellent battery life for an affordable price.Compelling ultra-wide cameraNew Night mode is excellentLong battery lifeREAD MORE', 'Amazing phone with great cameras and better battery which gives you the best performance. I just love the camera .READ MORE', 'Previously I was using one plus 3t it was a great phone And then I decided to upgrade I am stuck between Samsung s10 plus or iPhone 11 I have seen the specs and everything were good except the display it’s somewhere between 720-1080 and it’s not even an amoled it’s an LCD display But I decided to go with iPhone because I have never used an IOS device I have Been an android user from the past 9 years I ordered IPhone 11 (128gb) product redMy experience after using 3 weeks 1. The delivery ...READ MORE', 'Amazing Powerful and Durable Gadget.I’m am very happy with the camera picture quality, Amazing face id unlocked in dark room, Strong battery with perfect screen size as you can carry easily in pocket. This is my third iPhone. I shifted from android Samsung Note series to iPhone because of the strong build quality and peace of mind for next 3-4 years.Don’t think to much just go for it and I suggest you to go for minimum 128gb variant or more 256gb. I’ve attached my puppy pics and no fi...READ MORE', 'iphone 11 is a very good phone to buy only if you can compromise for the display. The display on this is device is pretty good but you can get other options with better displays in this price segment.If you can survive with an HD+ LCD panel with thicker bezels and a notch up top then this is a very good phone for you.Cameras are awesome, battery backup excellent, great performance and a decent premium look. Good job Apple !READ MORE']

In [144]:
import pandas as pd
df = pd.DataFrame({})
df['Rating'] = Rating[0:10]
df['Review_summary'] = Review_summary[0:10]
df['Full_review'] = Full_review[0:10]

In [145]:
#Checking head and Shape:
df.head(10)

,Rating,Review_summary,Full_review
0,5,Brilliant,The Best Phone for the MoneyThe iPhone 11 offe...
1,5,Perfect product!,Amazing phone with great cameras and better ba...
2,5,Worth every penny,Previously I was using one plus 3t it was a gr...
3,5,Great product,Amazing Powerful and Durable Gadget.I’m am ver...
4,5,Highly recommended,iphone 11 is a very good phone to buy only if ...
5,5,Perfect product!,It’s a must buy who is looking for an upgrade ...
6,5,Perfect product!,Value for money❤️❤️Its awesome mobile phone in...
7,5,Wonderful,*Review after 10 months of usage*Doesn't seem ...
8,5,Fabulous!,This is my first iOS phone. I am very happy wi...
9,5,Worth every penny,Best budget Iphone till date ❤️ go for it guys...

# : Scrape data for first 100 sneakers you find when you visit flipkart.com and
search for “sneakers” in the search field.

In [148]:
#Importing the required Libraries:
from bs4 import BeautifulSoup
import requests
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.firefox.options import Options

In [149]:
#lets first connect to the web driver
driver = webdriver.Chrome(r"D://Chromedriver.exe")

In [150]:
#Opeaning the web page through our web driver:
driver.get('https://www.myntra.com/shoes')

In [151]:
#locating the search bar
search_bar=driver.find_element_by_class_name('desktop-searchBar')
search_bar.clear()
search_bar.send_keys('sneakers')

In [152]:
#locating the button and clicking it toh search for sunglasses
button=driver.find_element_by_class_name('desktop-submit')
button.click()

In [154]:
#creating empty list:
Brand = []
Price = []
discount = []

In [155]:
soup = BeautifulSoup(driver.page_source, 'html.parser')

In [156]:
#Using for loop and fetching ratings.
for i in soup.find_all('h3', attrs ={'class':'product-brand'}):
    string = i.text
    Brand.append(string.strip())
print(Brand[0:5])

['H&M', 'ALDO', 'Nike', 'HRX by Hrithik Roshan', 'Nike']

In [157]:
#Using for loop and fetching ratings.
for i in soup.find_all('span', attrs ={'class':'product-discountedPrice'}):
    string = i.text
    Price.append(string.strip())
print(Price[0:5])

['Rs. 3999', 'Rs. 4245', 'Rs. 2399', 'Rs. 3371', 'Rs. 1519']

In [158]:
#Using for loop and fetching ratings.
for i in soup.find_all('span', attrs ={'class':'product-discountPercentage'}):
    string = i.text
    discount.append(string.strip())
print(discount[0:5])

['(50% OFF)', '(15% OFF)', '( 40 % OFF)', '(25% OFF)', '( 60 % OFF)']

In [159]:
import pandas as pd
df = pd.DataFrame({})
df['Brand'] = Brand[0:10]
df['Price'] = Price[0:10]
df['discount'] = discount[0:10]

In [160]:
#Checking head and Shape:
df.head(10)

                   Brand     Price     discount
0                    H&M  Rs. 3999    (50% OFF)
1                   ALDO  Rs. 4245    (15% OFF)
2                   Nike  Rs. 2399  ( 40 % OFF)
3  HRX by Hrithik Roshan  Rs. 3371    (25% OFF)
4                   Nike  Rs. 1519  ( 60 % OFF)
5  HRX by Hrithik Roshan  Rs. 1119  ( 60 % OFF)
6               Roadster  Rs. 2199    (45% OFF)
7                  WROGN  Rs. 3599    (55% OFF)
8        PUMA Motorsport   Rs. 599    (40% OFF)
9                ZAPATOZ  Rs. 1199  ( 60 % OFF)

# Go to webpage https://www.amazon.in/
Enter “Laptop” in the search field and then click the search icon. Then set CPU Type filter to “Intel Core i7” and “Intel Core i9” as shown in the below image: WEB SCRAPING ASSIGNMENT-2 . After setting the filters scrape first 10 laptops data. You have to scrape 3 attributes for each laptop:

title
Ratings
Price As shown in the below image as the tick marked attributes.

In [161]:
#Importing the required Libraries:
from bs4 import BeautifulSoup
import requests
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.firefox.options import Options

In [162]:
#lets first connect to the web driver
driver = webdriver.Chrome(r"D://Chromedriver.exe")

In [163]:
#Opeaning the web page through our web driver:
driver.get('https://www.amazon.in/')

In [164]:
#Imputing the details such as Skill,Designation and Location:
field_designation = driver.find_element_by_id("twotabsearchtextbox")
field_designation.clear() 
field_designation.send_keys("laptops")

In [165]:
#clicking the search button for obtaining result:
search_button = driver.find_element_by_xpath('//span[@id="nav-search-submit-text"]') 
search_button.click()

In [166]:
#Now we need to locate the tags for core i7:
i7_filter_button = driver.find_elements_by_xpath("//a[@class='a-link-normal s-navigation-item']/span")
for i in i7_filter_button:
    if i.text == 'Intel Core i7':
        i.click()
        break

In [167]:
#Now we need to locate the tags for core i9 features:
i9_filter_button = driver.find_elements_by_xpath("//a[@class='a-link-normal s-navigation-item']/span")
for i in i9_filter_button:
    if i.text == 'Intel Core i9':
        i.click()
        break

In [169]:
#scraping the tags of titles:
titles = driver.find_elements_by_xpath("//span[@class='a-size-medium a-color-base a-text-normal']")

#Using for loop for iterations:
#Handling Null Values.
for i in titles:
    if i.text is None :
        laptop_titles.append(" ") 
    else:
        laptop_titles.append(i.text.replace('\n',' ').strip('/n'))
print(laptop_titles[6:16])

['ASUS VivoBook S S14 Intel Core i7-1165G7 11th Gen, 14-inch FHD Thin and Light Laptop (8GB RAM/512GB SSD + 32GB Optane Memory/Windows 10/Office 2019/Iris X Graphics- Indie Black/1.4 Kg), S433EA-AM701TS', 'Dell Inspiron 5409 14.0" FHD WVA AG Display 11th Gen Laptop (i7-1165G7 / 8 GB / 512 SSD / Nvidia MX 350 2GB Graphics / 1 Yr NBD / Win 10 + MS Office H&S / Pebble) D560374WIN9PE', 'ASUS ZenBook 15 UX533FD Ultra Slim Laptop', 'LifeDigital ZED AIR CX7 15.6 IPS FHD Screen Black Laptop (Intel Core i7, 8GB RAM, 512GB SSD, Windows 10)', 'Alienware Gaming AW17R5-7405SLV-PUS 8th Gen Intel Core i7 Processor Laptop', "(Renewed) Lenovo ThinkPad X1 Carbon Laptop (CORE I7 6TH GEN/8GB/256GB SSD/WEBCAM/14''/WIN 10 PRO)", 'Dell Latitude 3410 14 Inch HD Intel Core i7 10th Gen ( 8GB / 1TB / Windows 10 Pro / 3 Years Warranty ) Business Laptop with STOLT Backpack', '(Renewed) DELL Latitude E6540 15.6-inch Laptop (4th Gen Intel Core i7/8GB/256GB SSD/Windows 10/Integrated Graphics), Silver', 'Acer Spin 3 Convertible Laptop, 14 inches Full HD IPS Touch, 8th Gen Intel Core i7-8565U, 16GB DDR4, 512GB PCIe NVMe SSD, Backlit KB, Fingerprint Reader, Rechargeable Active Stylus, SP314-53N-77AJ', 'Dell Inspiron 5370 13.3-inch FHD Laptop (Core i7-8550U/8GB/256GB/Windows 10 + MS Office/2GB Graphics/Silver)']

In [170]:
#scraping the tags of prices:
prices = driver.find_elements_by_xpath("//span[@class='a-price-whole']")

#Using for loop for iterations:
#Handling Null Values.
for i in prices:
    if i.text is None :
        laptop_price.append(" ") 
    else:
        laptop_price.append(i.text.replace('\n',' ').strip('/n'))
print(laptop_price[0:5])

['86,690', '95,993', '5,22,077', '79,999', '58,999']

In [ ]:
#scraping the full Laptop ratings for all the laptops.
from selenium.common.exceptions import NoSuchElementException
urls = driver.find_elements_by_xpath("//a[@class='a-link-normal a-text-normal']")
get_URL = []
for i in urls[:10]:
    get_URL.append(i.get_attribute('href'))
for url in get_URL:
    driver.get(url)
    try:
        rate=driver.find_element_by_xpath("//span[@id='acrCustomerReviewText']")
        rate.click()                                                      
        rating=driver.find_element_by_xpath("//span[@class='a-size-medium a-color-base']")
        laptop_ratings.append(rating.text.replace(' ',' ').strip('/n'))   
    except NoSuchElementException:
        laptop_ratings.append(" ")
print(laptop_ratings[0:20])

In [ ]:
import pandas as pd
df = pd.DataFrame({})
df['laptop_titles'] = laptop_titles[0:10]
df['laptop_price'] = laptop_price[0:10]
df['laptop_ratings'] = laptop_ratings[0:10]

In [168]:
#creating the empty list
laptop_titles = []
laptop_ratings = []
laptop_price = []